<div class="example-container mat-elevation-z8" *ngIf="!editing">
  <div class="example-header">
    <button mat-button color="primary" (click)="createNew()">创建</button>
  </div>


  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> 唯一标识 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="desc">
      <mat-header-cell *matHeaderCellDef> 名称 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.desc}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id_">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a mat-button (click)="initStore(element.id)">初始化</a>
        <a mat-button (click)="open(element.id)">清空数据</a>
        <a mat-button (click)="open(element.id)">打开</a>
        <a mat-button (click)="edit(element.id)">编辑</a>      
        <a mat-button (click)="delete(element.id)">删除</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>


<mat-card *ngIf="editing">
  <form class="example-container" #editorForm="ngForm" >

    <mat-form-field>
      <input matInput placeholder="ID" name="id" [(ngModel)]="id" required>
      <mat-error>错误提示信息</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput matTextareaAutosize placeholder="配置" name="config" [(ngModel)]="config" matAutosizeMinRows="5"></textarea>
    </mat-form-field>

    <button mat-button primary (click)="save()">保存</button>
    <button mat-button (click)="cancel()">取消</button>
</form>

</mat-card>