<mat-toolbar class="content-header" color="primary" >模块维护</mat-toolbar>
<div class="content-view">
  <mat-list>
    <h3 mat-subheader>用户管理</h3>
    <mat-list-item>
      geki
    </mat-list-item>
    <mat-list-item>
      geki
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>流程管理</h3>
    <mat-list-item>
      <button mat-button>用户列表</button> <button mat-icon-button="plus">+</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader><button mat-button style="width: 100%;">新建分类</button></h3>
  </mat-list>
</div>
