<div class="example-header">
  <mat-form-field>
    <input matInput placeholder="Filter">
  </mat-form-field> 
  <mat-form-field>
    <input matInput placeholder="Filter">
  </mat-form-field> 
  <mat-form-field>
    <input matInput placeholder="Filter">
  </mat-form-field> 
  <mat-form-field>
    <input matInput placeholder="Filter">
  </mat-form-field> 
  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">more_horiz</mat-icon>
  </button>      
</div>

<div class="example-header">
    <mat-form-field>
        <input matInput placeholder="Filter">
    </mat-form-field> 
    <mat-form-field>
      <input matInput placeholder="Filter">
    </mat-form-field> 
    <mat-form-field>
      <input matInput placeholder="Filter">
    </mat-form-field> 
    <mat-form-field>
      <input matInput placeholder="Filter">
    </mat-form-field> 
</div>
<div>
    <button mat-button>
        <mat-icon aria-label="Example icon-button with a heart icon">more_horiz</mat-icon>
          确定
        </button>  
        <button mat-button>
            <mat-icon aria-label="Example icon-button with a heart icon">more_horiz</mat-icon>
            取消
        </button>  
</div>


<mat-table #table [dataSource]="dataSource">

  <ng-container *ngFor="let c of columns" [matColumnDef]="c.name">
    <mat-header-cell *matHeaderCellDef> {{c.text}} </mat-header-cell>
    <mat-cell *matCellDef="let element" > {{element[c.name]}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
