 <div>
    <mat-toolbar class="mmr-app-bar mat-elevation-z6" color="primary">
      <button mat-button>首页</button>
      <button mat-button>系统设置</button>
    </mat-toolbar>

    <mat-sidenav-container>
    <mat-sidenav class="mmr-app-sidebar" mode="side" opened="false"  >
      mmr-app-sidebar
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="mmr-content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>


