 <div>
    <mat-toolbar class="mmr-app-bar mat-elevation-z6" color="primary">

    </mat-toolbar>

    <mat-sidenav-container>
    <mat-sidenav class="mmr-app-sidebar" mode="side" opened="true"  >
      mmr-app-sidebar
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="mmr-content-container">
        <mat-toolbar class="content-header" color="primary" ></mat-toolbar>
        <div class="content-view">
        Main content
        </div>
        <mat-toolbar class="content-footer" color="primary"></mat-toolbar>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>


