<mat-toolbar class="content-header" color="primary" >{{viewJson?.title}}</mat-toolbar>
<div class="content-view">
  <button (click)="donave()">donav</button>
  <button (click)="donave2()">donav2</button>

  <mmr-view
    #viewRoot
    *ngFor="let option of viewJson?.children"
    [options]="option"
    (afterViewInit)="onAfterViewInit($event)"
  ></mmr-view>
  <!--<ng-template  *ngFor="let option of viewJson.children"> hello </ng-template>-->
</div>

<mat-toolbar class="content-footer" color="primary">
  <a href="https://material.angular.io" target="_blank">meterial2</a>
  <a href="https://angular.cn/docs" target="_blank">angular docs</a>
</mat-toolbar>
