<mat-card class="example-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subTitle}}</mat-card-subtitle>
  </mat-card-header>

  <!--<img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-actions *ngFor="let tbar of toolbars">
    <div *ngIf="tbar.position == 'top'" >
      <button mat-button *ngFor="let btn of tbar.children" (click)="execute(btn.command)">{{btn.text}}</button>
    </div>
  </mat-card-actions>

  <mat-card-content>
    <!-- <mmr-view *ngFor="let option of children" [options]="option"></mmr-view> -->
  
    <ng-container *ngFor="let option of children" mmrLoadView [options]="option"></ng-container>
  </mat-card-content>

  <mat-card-actions *ngFor="let tbar of toolbars">
      <div *ngIf="tbar.position == 'bottom'" >
        <button mat-button *ngFor="let btn of tbar.children" (click)="execute(btn.command)">{{btn.text}}</button>
      </div>
    </mat-card-actions>

</mat-card>











